.mapButton {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('/image/map-preview.png'); /* Replace with your map background image */
  background-size: cover;
  background-position: center;
  border: none;
  border-radius: 8px;
  padding: 25px;
  gap: 15px;
  cursor: pointer;
  color: white;
  position: relative; /* Ensure the overlay positions correctly */
  overflow: hidden; /* Ensure the overlay stays within button boundaries */
  margin-top: 10px;
}

.mapButton::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); /* Adjust the opacity as needed */
  border-radius: 8px; /* Match the button border radius */
}

.icon {
  width: 8%;
  /* margin-right: 8px; */
  z-index: 2; /* Ensure the icon is above the overlay */
}

.icon2 {
  margin-left: 5px;
  width: 5%;
  /* margin-right: 8px; */
  z-index: 2; /* Ensure the icon is above the overlay */
}

.textContainer {
  color: white;
   z-index:2;
  /* text-align: left; */
  
}