.header {
    display: flex;
    align-items: center;
    /* padding: 10px 20px; */
    color: #fff;
    position: relative;
    /* padding: 5px; */
    padding-top: 25px;
    padding-bottom: 20px;
  }
  
  .headertitle {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0px;
  }
  
  .backicon {
    /* margin-left: 10px; */
    position: absolute;
    left :3%;
  }

  .threedotsicon {
    /* margin-left: 10px; */
    position: absolute;
    right :3%;
  }