{% extends "base.html" %}

{% block content %}
  <h1>할 일 목록 관리 프로젝트 메인 페이지</h1>
  <p>이 곳에서 할 일 목록을 관리합니다.</p>
  <ul>
    {% for todo in todo_list %}
      <input type="checkbox" name="is_completed" id="is_completed" {% if todo.is_completed == True %}checked{% endif %}>
      <li>
        {% comment %} {% if todo.is_completed == True %}
          <input type="checkbox" name="is_completed" id="is_completed" checked>
        {% elif todo.is_completed == False %}
          <input type="checkbox" name="is_completed" id="is_completed" value="{{ todo.is_completed }}">
        {% endif %} {% endcomment %}
        <a href="{% url "todos:detail" todo.pk %}">{{ todo.work }}</a>
      </li>
    {% empty %}
      <li>아직 할 일이 없습니다.</li>
    {% endfor %}
  </ul>
{% endblock content %}