/* globals.css */

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  background-color: #f0f0f0; /* 밖에 화면 배경 컬러*/
  display: flex;
  justify-content: center; /* 화면 가운데로 고정 */
}

p {
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0;
  padding: 0;
}


.container {
  width: 100%;
  max-width: 640px; /* 모바일 최대 넓이 고정 */
  min-height: 100vh;
  /* 안에 화면 배경 컬러 */
  background-color: #1E1E1E;
  border: 1px solid #e0e0e0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

