@font-face {
    font-family: "Cafe24 Ssurround";
    src: url("./Cafe24Ssurround-v2.0.woff") format("woff");
}

@font-face {
    font-family: "Pretendard";
    src: url("./PretendardVariable.woff2") format("woff");
}