.calendar-container {
    border: 2px solid #54B2A3;
    border-radius: 2px;
    padding: 8px;
  }
  
  /* Adjust border colors for calendar elements */
  .rbc-day-header {
    color: #929292 !important; /* Set weekday text color */
  }
  
  
  .rbc-time-view .rbc-time-header {
    border-bottom: 2px solid #000000 !important; /* Bold line below weekdays */
  }
  
/* Center-align the time labels vertically and horizontally */
.rbc-time-gutter .rbc-timeslot-group {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #929292 !important; /* Time text color */
    height: 60px; /* Adjust this if needed to match row height */
    font-size: 14px; /* Adjust font size as desired */
  }
  
  /* Optional: Adjust padding for the time gutter */
  .rbc-time-gutter-cell {
    padding: 0 !important;
  }
  
  
  .rbc-time-view .rbc-time-header-cell {
    border-right: 2px solid #C0C0C0 !important; /* Calendar vertical lines */
  }
  
  .rbc-time-view .rbc-time-slot {
    border-top: 1px solid #D9D9D9 !important; /* Calendar horizontal lines */
  }
  