.login-page{
    display: flex;
    width: 100%;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;

}

*, ::after, ::before{
    box-sizing: border-box;
}

div{
    unicode-bidi: isolate;
    display: block;
}


.login-page .layout-body {
    -webkit-box-flex: 1;
    flex: 1;
    width: 100%;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    
}

.login-page .layout-body .layout-aside {
    text-align: center;
    background-color: #f7f9fa;
}

.layout-aside img{
    max-width: 100%;
}

img{
    height: auto;
    width: auto;
    vertical-align: middle;
    border: 0;
    overflow: clip;
}

.form-width-sm {
    width: 346px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

form {
    display: block;
    margin-top: 0em;
    unicode-bidi: isolate;
}

.zm-form-item {
    position: relative;
    margin-bottom: 24px;
}

.login-function-box {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.mgb-md {
    margin-bottom: 16px;
}

.mgt-sm {
    margin-top: 8px;
}

.zm-form-item__content {
    position: relative;
    font-size: inherit;
}

.zm-input{
    position: relative;
    font-size: 14px;
    display: inline-block;
    width: 100%;
}

.zm-input--xLarge .zm-input--show-label .zm-input__inner{
    padding-top: 12px;
    line-height: 28px;
}

.zm-input .is-empty .zm-input__inner{
    border-color: #6e7680;
}

.zm-input--xLarge .zm-input__inner{
    height: 48px;
    font-size: 16px;
}

.zm-input__inner{
    background-image: none;
    border-radius: 8px;
    border: 1px solid #444b53;
    box-sizing: border-box;
    color: #131619;
    display: inline-block;
    outline: none;
    padding: 0 12px;
    transition: cubic-bezier(0.645, 0.045, 0.355, 1);
    width: 100%;
    vertical-align: middle;
}

input {
    font-family: inherit;
    margin: 0;
}

input[type='email' i] {
    padding-block: 1px;
    padding-inline: 2px;
}

.zm-input__label {
    position: absolute;
    left: 12px;
    top: 12px;
    right: 12px;
    font-size: 16px;
    margin-bottom: 0;
    color: #6e7680;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: .3s;
}


.zm-input--xLarge .zm-input__suffix {
    line-height: 48px;

}

.zm-input__suffix{
    position: absolute;
    height: 100%;
    right: 5px;
    top: 0;
    text-align: center;
    color: #6e7680;
    transition: all .3s;
    pointer-events: none;
}
.zm-input__suffix-inner{
    pointer-events: all;
}

.zm-input .zm-input__clear {
    color: #6e7680;
    cursor: pointer;
    transition: cubic-bezier(0.645, 0.045, 0.355, 1);
    background-color: transparent;
    border: none;
    height: 20px;
    width: 20px;
    line-height: 20px;
    padding: 0;
}

.zm-icon-eyes {
    display: inline-block;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    vertical-align: baseline;
}

.pdb-0{
    padding-bottom: 0;

}
.zm-buutton--link{
    white-space: normal;
    padding-left: 0;
    padding-right: 0;
    border-radius: 0;
    color: white;
    background-color: #aa4dcb;
    border-color: transparent;
}

.zm-button-small {
    min-width: 32px;
    font-size: 14px;
    line-height: 20px;
    padding: 6px 16px;

}

.zm-button {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    border: none;
    text-align: center;
    box-sizing: border-box;
    outline: none;
    margin: 0;
    transition: .1s;
    font-weight: 500;


}

.pgb-0 {
    padding-bottom: 0;
}

.pdt-0 {
    padding-top: 0;
}

button {
    font-family: inherit;
    text-transform: none;
    overflow: visible;
    font: inherit;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-indent: 0px;
    text-shadow: none;

}

.mgt-sm {
    margin-top: 8px;
}

.agree-terms {
    color: #747487;
    font-size: 14px;
    line-height: 20px;
}

.mgt-md {
    margin-top: 16px;
}
p {
    margin: 0 0 10px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
    line-height: 1.5;
    font-size: 14px;
}

.zm-checkbox {
    margin-right: 0;
    color: #131619;
    font-size: inherit;
    display: inline-block;
}

.mgt-sm {
    margin-top: 8px;
}


.zm-checkbox__wrap {
    position: relative;
    display: inline-flex;
    cursor: default;
    padding: 4px 0;
    min-height: 20px;
    line-height: 24px;
}

.zm-checkbox__label .is-disabled {
    cursor: not-allowed;
    color: #6e7680;
}

.zm-checkbox__label {
    display: flex;
    -webkit-box-align: baseline;
    align-items: baseline;
    font-size: inherit;
    word-break: break-word;
    font-weight: 400;
    margin-bottom: 0;
    min-height: 20px;
    line-height: 20px;
    position: relative;
}

input[type='checkbox'][disabled] {
    cursor: not-allowed;
}

input[type='checkbox'] {
    margin-top: 3px;
    margin: 4px 0 0;
    line-height: normal;
    box-sizing: border-box;
    padding: 0;

}

.zm-checkbox__original {
    opacity: 0;
    outline: none;
    position: absolute;
    width: 0;
    height: 0;
    z-index: -1;
    transform: scale(0);
}

.zm-checkbox__label .is-disabled .zm-checkbox__inner {
    border-color: #c5c8cd;
    background-color: #f1f4f6;
    cursor: not-allowed;
}

.zm-checkbox__inner {
    width: 16px;
    height: 16px;
    margin-right: 8px;
    position: relative;
    top: 3px;
    display: inline-block;
    -webkit-box-flex: 0;
    flex: 0 0 16px;
    border: 1px solid #6e7680;
    border-radius: 4px;
}

.zm-checkbox__knob {
    left: 1px;
    position: absolute;
    top: -1px;
    width: 100%;
    height: 100%;
    transform: rotate(45deg);
    opacity: 0;
}

.zm-login-methods {
    padding-top: 16px;
}

.form-width {
    width: 100%;
    max-width: 420px;
    margin-left: auto;
    margin-right: auto;
}

.zm-login-methods__title {
    position: relative;
    text-align: center;
    margin-top: 12px;
    margin-bottom: 24px;
}

/* .zm-login-methods__list .justify-between {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;

}
.zm-login-methods__list {
    text-align: center;
} */