.login-page .signup-container {
    width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid #dcdcdc; */
    /* padding: 20px; */
    /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px; */
    /* gap: 20px; 추가된 부분 */
}

.signup-title {
    margin-bottom: 20px; /* 동일한 간격을 위해 추가 */
    margin-top: 2rem;
    font-size: 2rem;
    font-weight: 500;
}

.layout-main {
    display: flex;
    flex-direction: column;
    gap: 5px; /* 동일한 간격을 위해 추가 */
}

.zm-input {
    position: relative; /* 부모 요소에 relative 포지션 */
}

.zm-input__inner {
    width: 100%;
    height: 50px;
    font-size: 1rem;
 
    border-radius: 5px;
    box-sizing: border-box; /* border와 padding을 포함한 크기 계산 */
}

.zm-input__label {
    position: absolute; /* 절대적으로 위치시키기 */
    top: 50%; /* 세로 중앙 정렬 */
    left: 10px; /* 왼쪽 경계에서 10px 위치 */
    transform: translateY(-50%); /* 수직 중앙 정렬 */
    color: #999;
    pointer-events: none; /* 클릭 불가능 */
    transition: all 0.2s ease; /* 부드러운 애니메이션 효과 */
}

/* 입력 필드가 포커스되었거나 텍스트가 있으면 라벨 위치 변경 */
.zm-input__inner:focus + .zm-input__label,
.zm-input__inner:not(:placeholder-shown) + .zm-input__label {
    top: 10px; /* 라벨을 입력 필드 안쪽 위로 이동 */
    font-size: 12px; /* 라벨의 폰트 크기 축소 */
    color: #666; /* 라벨 색상 변경 */
}


input::placeholder {
    padding-left: 5px;
   
}


.layout-main-slot {
    justify-content: center;
}

/* 라디오 버튼 스타일 */
.form-check-input {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 16px;
    height: 16px;
    border: 2px solid #aa4dcb;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    position: relative;
}

.form-check-input:checked {
    background-color: #aa4dcb;
    border-color: #aa4dcb;
}

.form-check-input:checked::before {
    content: '';
    display: block;
    width: 60%;
    height: 60%;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.form-check-input:hover {
    border-color: #8713b1;
}

.zm-input__inner:focus {
    border-color: #aa4dcb;
    outline: none;
}


.email_input {
    position: relative;
    flex: 1;
}

.zm-input__inner .email_input_input {
    width: 100%;
    /* height: 50px; */
    box-sizing: border-box;
    
    font-size: 1rem;
}

.zm-input__label .email_label {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #999;
}

.email_button {
    color: white;
    background-color: #aa4dcb;
    height: 48px;
    margin-left: 2px;
    border: 1px solid black;
    padding-left: 3px;
    padding-right: 3px;
}

.password_div {
    position: relative;
    width: 100%;
}

.zm-input__inner .password_input {
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    /* padding: 0 10px; */
    font-size: 1rem;
}

.zm-input__label .password_label {
    position: absolute;
    top: 50%;
    left: 50%;
    pointer-events: none;
    color: #999;
}

.check_gender {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}