.chatInfo {
    position: sticky;
    top: 0; /* Sticks the element to the top of its container when scrolling */
    z-index: 100; /* Ensures it stays on top of other content; adjust as needed */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1E1E1E;
    color: #fff;
  }
  
  .profileImage {
    width: 50px;
    height: 50px;
    margin: 2% 2% 2% 6%;
  }

  
.chatDetails {
    margin: 2% auto 2% 2%;
  }
  
.chatDetails h2 {
margin: 0;
font-size: 1rem;
font-weight: bold;
}
  
.chatDetails p {
    margin: 5px 0;
    font-size: 0.8rem;
}



.signatureBox {
  position: relative;
  background-color: rgba(44, 227, 167, 0.2); /* 투명도 0.8로 설정 */
  color: #fff;
  padding: 10px;
  width: fit-content;
  margin-left: auto; /* 왼쪽 정렬 시 오른쪽으로 이동 */
  margin-right: auto; /* 왼쪽으로 이동 시 가운데 정렬 */
  width: 80%;
  text-align: center; /* 텍스트를 가운데 정렬 */
  margin: 20px auto;
  border: 1px solid rgba(44, 227, 167, 0.2); /* 시각적인 구분선 */
  border-radius: 5px;
  
}
.infoBox {
  display: flex;
  flex-direction: column; /* 수직 정렬 */
  align-items: flex-start; /* 수평 방향으로 왼쪽 정렬 */
  margin: 10px 0; /* 위아래 마진 */
  color: #fff;
  padding-left: 20px; /* 왼쪽 여백 추가 */
  position: relative;

}

.infoBox p {
  font-weight: bold; /* h3 요소의 글씨를 굵게 */
}

.adressBox {
  display: flex;
  flex-direction: column; /* 수직 정렬 */
  align-items: flex-start; /* 수평 방향으로 왼쪽 정렬 */ 
  margin: 10px 0; /* 위아래 마진 */
  color: #fff;
  padding-left: 20px; /* 왼쪽 여백 추가 */
}

.dateBox {
  background-color: rgba(44, 227, 167, 0.2); /* 배경색 */
  border: 1px solid rgba(44, 227, 167, 0.2); /* 시각적 구분을 위한 예제 */
  border-radius: 5px;
  padding: 5px 10px; /* 패딩 추가 */
  margin-top: 5px; /* 위쪽에 여백 추가 */
  font-size: 16px; /* 글자 크기 조정 */
  width: fit-content; /* 내용에 맞게 넓이 조정 */
  text-align: center; /* 텍스트를 가운데 정렬 */
  margin-left: auto; /* 왼쪽 정렬 시 오른쪽으로 이동 */
  margin-right: auto; /* 왼쪽으로 이동 시 가운데 정렬 */
  width: 80%;
 
}


.signatureLabel {
  position: absolute;
  font-size: 14px;
  color: gray;
}

.realName {
  top: -20px;
  left: 0;
}

.signature {
  bottom: -20px;
  right: 0;
}

.timeBoxContainer {
  display: flex; /* 플렉스 컨테이너로 설정 */
  justify-content: space-between; /* 두 요소 사이에 남은 여백을 균일하게 분배 */
  width: 100%; /* 부모 요소가 차지하는 전체 너비를 사용 */
}

.timeBox {
  padding: 10px;
  border: 1px solid rgba(44, 227, 167, 0.2); /* 시각적인 구분선 */
  border-radius: 5px;
  background-color: rgba(44, 227, 167, 0.2); /* 약간의 배경색 설정 */
  margin-left: 5%; /* 왼쪽 정렬 시 오른쪽으로 이동 */
  margin-right: 5%; /* 왼쪽으로 이동 시 가운데 정렬 */
  width: 40%;
  text-align: center; /* 텍스트를 가운데 정렬 */

  padding: 5px 10px; /* 패딩 추가 */
 
}


.authSection {
  display: flex;
  background-color: #191D25; /* 배경색 설정 */
  padding: 15px; /* 내부 여백 */
  border-radius: 8px; /* 모서리 둥글게 */
  margin-bottom: 20px; /* 아래에 약간의 여백 */
}

.warningSection {
  background-color: #FF0000;
  padding: 15px; /* 내부 여백 */
  border-radius: 8px; /* 모서리 둥글게 */
}

.warningTitle {
  color: #FF0000; /* 미확인 페널티 안내 텍스트의 색상 */
  font-weight: bold;
}

.warningDescription {
  color: #FFFFFF; /* 나머지 설명 텍스트의 색상 */
  margin-top: 5px; /* 텍스트 간격을 약간 설정 */
  justify-content: center;
}

.warningDetail {
  color: #FFFFFF; /* 글씨 색상을 하얀색으로 설정 */
  font-size: 14px; /* 필요에 따라 글씨 크기도 조정 가능 */
  margin-top: 5px; /* 여백 추가 */
}



.noticeBox {
  color: #FFFFFF; /* 기존 텍스트 색상 유지 */
  margin-bottom: 10px;
}


.buttonContainer {
  display: flex;
  justify-content: space-between; /* 버튼 사이 여유 공간 */
  gap: 10px;
}

.button {
  background-color: #2CE3A7;
  color: #FFFFFF;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  flex-grow: 1;
  text-align: center;
}


.verticalLine {
  width: 2px; /* 막대선의 너비 */
  height: 100%; /* 부모 요소의 높이에 맞춰서 늘어나도록 설정 */
  margin-right: 10px; /* 이미지와 텍스트 사이의 간격 */
}




